*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Theme 1*/
    --theme-1-main-bg: hsl(222, 26%, 31%);
    --theme-1-toggle-and-keypad-bg: hsl(223, 31%, 20%);
    --theme-1-screen-bg: hsl(224, 36%, 15%);
    --theme-1-screen-text: white;
    --theme-1-filled-key-bg: hsl(225, 21%, 49%);
    --theme-1-filled-key-shadow: hsl(224, 28%, 35%);
    --theme-1-filled-hv: hsl(224, 51%, 76%);
    --theme-1-equal-and-toggle-ball-bg: hsl(6, 63%, 50%);
    --theme-1-equal-and-toggle-ball-hv: hsl(6, 93%, 67%);
    --theme-1-equal-shadow: hsl(6, 70%, 34%);
    --theme-1-hollow-key-bg: hsl(30, 25%, 89%);
    --theme-1-hollow-key-shadow: hsl(28, 16%, 65%);
    --theme-1-hollow-hv: white;
    --theme-1-btn-text: hsl(221, 14%, 31%);
    --theme-1-equal-text: white;
    --theme-1-body-text: white;


    /*Theme 2*/
    --theme-2-main-bg: hsl(0, 0%, 90%);
    --theme-2-toggle-and-keypad-bg: hsl(0, 5%, 81%);
    --theme-2-screen-bg: hsl(0, 0%, 93%);
    --theme-2-screen-text: hsl(60, 10%, 19%);
    --theme-2-filled-key-bg: hsl(185, 42%, 37%);
    --theme-2-filled-key-shadow: hsl(185, 58%, 25%);
    --theme-2-filled-hv: hsl(186, 41%, 56%);
    --theme-2-equal-and-toggle-ball-bg: hsl(25, 98%, 40%);
    --theme-2-equal-and-toggle-ball-hv: hsl(25, 100%, 61%);
    --theme-2-equal-shadow: hsl(25, 99%, 27%);
    --theme-2-hollow-key-bg: hsl(45, 7%, 89%);
    --theme-2-hollow-key-shadow: hsl(35, 11%, 61%);
    --theme-2-hollow-hv: white;
    --theme-2-btn-text: hsl(60, 10%, 19%);
    --theme-2-equal-text: white;
    --theme-2-body-text: hsl(60, 10%, 19%);

    /*Theme 3*/
    --theme-3-main-bg: hsl(268, 75%, 9%);
    --theme-3-toggle-and-keypad-bg: hsl(268, 71%, 12%);
    --theme-3-screen-bg: hsl(268, 71%, 12%);
    --theme-3-screen-text: hsl(52, 100%, 62%);
    --theme-3-filled-key-bg: hsl(281, 89%, 26%);
    --theme-3-filled-key-shadow: hsl(285, 91%, 52%);
    --theme-3-filled-hv: hsl(280, 56%, 44%);
    --theme-3-equal-and-toggle-ball-bg: hsl(176, 100%, 44%);
    --theme-3-equal-and-toggle-ball-hv: hsl(176, 100%, 79%);
    --theme-3-equal-shadow: hsl(177, 92%, 70%);
    --theme-3-hollow-key-bg: hsl(268, 47%, 21%);
    --theme-3-hollow-key-shadow: hsl(290, 70%, 36%);
    --theme-3-hollow-hv: hsl(267, 53%, 44%);
    --theme-3-btn-text: hsl(52, 100%, 62%);
    --theme-3-equal-text: hsl(198, 20%, 13%);
    --theme-3-body-text: hsl(52, 100%, 62%);

    /*Default Theme Variables*/

    --main-bg: var(--theme-1-main-bg);
    --toggle-and-keypad-bg: var(--theme-1-toggle-and-keypad-bg);
    --screen-bg: var(--theme-1-screen-bg);
    --screen-text: var(--theme-1-screen-text);
    --filled-key-bg: var(--theme-1-filled-key-bg);
    --filled-key-shadow: var(--theme-1-filled-key-shadow);
    --filled-hv: var(--theme-1-filled-hv);
    --equal-and-toggle-ball-bg: var(--theme-1-equal-and-toggle-ball-bg);
    --equal-and-toggle-ball-hv: var(--theme-1-equal-and-toggle-ball-hv);
    --equal-shadow: var(--theme-1-equal-shadow);
    --hollow-key-bg: var(--theme-1-hollow-key-bg);
    --hollow-key-shadow: var(--theme-1-hollow-key-shadow);
    --hollow-hv: var(--theme-1-hollow-hv);
    --btn-text: var(--theme-1-btn-text);
    --equal-text: var(--theme-1-equal-text);
    --body-text: var(--theme-1-body-text);

    /*Screen Desktop*/
    --fs-screen-desktop: 54px;
    --fs-screen-mobile: 38px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 94px 0;
    color: var(--body-text);
    background: var(--main-bg);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    transition: all .5s linear;
}

button {
    height: 60px;
    font: inherit;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s linear;
}


main {
    width: 540px;
}

/*Header*/

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    position: relative;
}

.logo h1 {
    font-size: 31px;
    padding-left: 8px;
    position: absolute;
    top: 14px;
}

.themeHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 28px;
    text-transform: uppercase;
}

.themeHeader small {
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: -2px;
    margin-bottom: 5px;
}

.themeHeader form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 71px;
}

.themeHeader form .themeNum {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

/*Checkbox Styling*/

#themeThumb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    height: 26px;
    padding: 5px;
    border-radius: 50px;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

/*Thumb Style*/

input[name="theme"]:checked {
    background: var(--equal-and-toggle-ball-bg);
}

input[name="theme"]:checked:hover {
    background: var(--equal-and-toggle-ball-hv);
}

/*Track Style*/

#themeThumb {
    background: var(--toggle-and-keypad-bg);
}

/*Screen Style*/

.screen {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    height: 128px;
}

#screen {
    width: 100%;
    height: 100%;
    padding: 1px 32px 0;
    font: inherit;
    color: var(--screen-text);
    font-size: var(--fs-screen-desktop);
    text-align: right;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all .5s linear;
}

.screen input {
    background: var(--screen-bg);
    color: white;
}

/*Button*/

.btnInput {
    width: 100%;
    padding: 32px 32px 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px 25px;
    border-radius: 10px;
}

.btnInput {
    background: var(--toggle-and-keypad-bg);
}

.hollow {
    padding-top: 6px;
    background: var(--hollow-key-bg);
    color: var(--btn-text);
    box-shadow: 0 4px 0 var(--hollow-key-shadow);
}

.hollow:hover {
    background: var(--hollow-hv);
}

.filled {
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 4px;
    background: var(--filled-key-bg);
    color: white;
    box-shadow: 0 4px 0 var(--filled-key-shadow);
}

.filled:hover {
    background: var(--filled-hv);
}

#resetBtn {
    grid-column: span 2;
}

#equalBtn {
    grid-column: span 2;
    font-size: 26px;
    padding-top: 4px;
    background: var(--equal-and-toggle-ball-bg);
    color: white;
    box-shadow: 0 4px 0 var(--equal-shadow);
}

#equalBtn:hover {
    background: var(--equal-and-toggle-ball-hv);
}


.visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Theme 2*/

[data-theme="light"] {
    --main-bg: var(--theme-2-main-bg);
    --toggle-and-keypad-bg: var(--theme-2-toggle-and-keypad-bg);
    --screen-bg: var(--theme-2-screen-bg);
    --screen-text: var(--theme-2-screen-text);
    --filled-key-bg: var(--theme-2-filled-key-bg);
    --filled-key-shadow: var(--theme-2-filled-key-shadow);
    --filled-hv: var(--theme-2-filled-hv);
    --equal-and-toggle-ball-bg: var(--theme-2-equal-and-toggle-ball-bg);
    --equal-and-toggle-ball-hv: var(--theme-2-equal-and-toggle-ball-hv);
    --equal-shadow: var(--theme-2-equal-shadow);
    --hollow-key-bg: var(--theme-2-hollow-key-bg);
    --hollow-key-shadow: var(--theme-2-hollow-key-shadow);
    --hollow-hv: var(--theme-2-hollow-hv);
    --btn-text: var(--theme-2-btn-text);
    --equal-text: var(--theme-2-equal-text);
    --body-text: var(--theme-2-body-text);
}


/*Theme 3*/

[data-theme="purple"] {
    --main-bg: var(--theme-3-main-bg);
    --toggle-and-keypad-bg: var(--theme-3-toggle-and-keypad-bg);
    --screen-bg: var(--theme-3-screen-bg);
    --screen-text: var(--theme-3-screen-text);
    --filled-key-bg: var(--theme-3-filled-key-bg);
    --filled-key-shadow: var(--theme-3-filled-key-shadow);
    --filled-hv: var(--theme-3-filled-hv);
    --equal-and-toggle-ball-bg: var(--theme-3-equal-and-toggle-ball-bg);
    --equal-and-toggle-ball-hv: var(--theme-3-equal-and-toggle-ball-hv);
    --equal-shadow: var(--theme-3-equal-shadow);
    --hollow-key-bg: var(--theme-3-hollow-key-bg);
    --hollow-key-shadow: var(--theme-3-hollow-key-shadow);
    --hollow-hv: var(--theme-3-hollow-hv);
    --btn-text: var(--theme-3-btn-text);
    --equal-text: var(--theme-3-equal-text);
    --body-text: var(--theme-3-body-text);
}


/*Mobile*/

@media only screen and (max-width: 600px) {
    body {
        margin: 27px 0;
    }

    main {
        width: 325px;
    }

    button {
        font-size: 32px;
        border-radius: 5px;
    }

    /*Screen Style*/

    .screen {
        height: 88px;
    }

    #screen {
        font-size: var(--fs-screen-mobile);
        padding: 0 25px 0;
    }

    /*Button Style*/

    .btnInput {
        padding: 24px;
        gap: 17px 13px;
    }

    .hollow {
        padding-top: 8px;
    }

    .filled {
        font-size: 20px;
        padding-top: 2px;
    }

    #equalBtn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 340px) {

    main {
        width: calc((100vw) - 26px);
    }
}